In [49]:
def square(num):
    return num**2

In [50]:
my_nums = [1,2,3,4,5]

In [51]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [52]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [53]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [54]:
names = ['Andy', 'Eve','Sally']

In [55]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [56]:
def check_even(num):
    return num%2 == 0

In [57]:
mynums = [1,2,3,4,5,6]

In [58]:
list(filter(check_even,mynums))

[2, 4, 6]

In [59]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

# Converting a function step by step in Lambda Expression

In [60]:
def square(num):
    result = num **2
    return result

In [61]:
square(3)

9

In [62]:
def square(num):
    return num **2

In [63]:
square(2)

4

In [64]:
def square(num):return num **2

In [65]:
square(2)

4

In [66]:
square = lambda num: num **2    # This is now a lambda expression, lambda are anonoymus function and we 
                                # typically don't name them

In [67]:
square(3)

9