In [1]:
if True:
    print("It's True")

It's True

In [2]:
if 3 >2:
    print("It's True")

It's True

In [7]:
hungry = True

if hungry:
    print("Feed me")
else:
    print("I am not hungry")

Feed me

In [12]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print("Money is cool")
elif loc =='Store':
    print("Welcome to the store")
else:
    print('I do not know much')

I do not know much

In [17]:
name = 'Bibek'

if name == 'Franky':
    print('hello Frankie')
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

What is your name?

In [46]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [47]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [48]:
for num in mylist:
    if num%2==0:
        print(f'The number is even: {num}')
    else:
        print(f'The number is odd: {num}')

The number is odd: 1
The number is even: 2
The number is odd: 3
The number is even: 4
The number is odd: 5
The number is even: 6
The number is odd: 7
The number is even: 8
The number is odd: 9
The number is even: 10

In [51]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [55]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [57]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [58]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [60]:
len(mylist)

4

In [64]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [66]:
for (a,b) in mylist:  # Tuple unpacking
    print(a)
    #print(b)

1
3
5
7

In [67]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [68]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [69]:
for a,b,c in mylist:
    print(a)

1
5
8

In [71]:
for a,b,c in mylist:
    print(b)

2
6
9

In [73]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [78]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [79]:
for key,value in d.items():
    print(value)

1
2
3

In [80]:
for key,value in d.items():
    print(key)

k1
k2
k3

In [81]:
for value in d.values():
    print(value)

1
2
3

In [87]:
x = 50

while x<5:
    print(f'The current value of x is {x}')
    #x = x + 1
    x += 1
else:
    print("X IS NOT LESS THAN 5")

X IS NOT LESS THAN 5

In [93]:
x = [1,2,3]

for item in x:
    #comment
    pass

print('end of my script')

end of my script

In [97]:
mystring = 'Sammy'

In [98]:
for letter in mystring:
    if letter == 'a':
        continue   # here condition is true, so it didn't go to the print line 4 and went back to the top of loop.
    print(letter)

S
m
m
y

In [101]:
for letter in mystring:
    if letter == 'a':
        break   # here the condition is true, so it breaks out of the loop.
    print(letter)

S

In [106]:
x = 0

while x < 5:
    if x ==2:
        break  # here it satisfy the condition and it breaks the loop and get out of the while loop
    print(x)
    x += 1

0
1

In [108]:
mylist = [1,2,3]

In [115]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [117]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [119]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [120]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [121]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [124]:
word = 'abcde'

for index,letter in enumerate(word):   # Tuple Unpacking
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [130]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [131]:
zip(mylist1,mylist2)

In [132]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [133]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [140]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [143]:
2 in [1,2,3]

True

In [142]:
'x' in ['x','y','z']

True

In [144]:
'a' in 'a world'

True

In [145]:
'mykey' in {'mykey':345}

True

In [147]:
d = {'mykey':345}

345 in d.values()

True

In [148]:
345 in d.keys()

False

In [149]:
mylist = [10,20,30,40,100]

In [150]:
min(mylist)

10

In [151]:
max(mylist)

100

In [152]:
from random import shuffle

In [153]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [158]:
shuffle(mylist)

In [159]:
mylist

[3, 1, 7, 5, 4, 10, 2, 8, 9, 6]

In [160]:
from random import randint

In [161]:
randint(0,100)

69

In [163]:
randint(5,100)

23

In [164]:
mynum = randint(0,10)

In [165]:
mynum

10

In [166]:
input('What is your name?')

What is your name?BIbek yadav

'BIbek yadav'

In [167]:
input('Please enter a number?')

Please enter a number?34

'34'

In [168]:
result = input('Please enter a number?')

Please enter a number?34

result

In [169]:
result

'34'

In [170]:
result1 = int(input('Please enter a number'))

Please enter a number34

In [171]:
result1

34

In [172]:
type(result1)

int

In [173]:
type(result)

str

In [174]:
mystring = 'hello'

In [175]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [176]:
mylist

['h', 'e', 'l', 'l', 'o']

In [177]:
mylist = [letter for letter in mystring]

In [178]:
mylist

['h', 'e', 'l', 'l', 'o']

In [179]:
mylist = [x for x in 'word']

In [180]:
mylist

['w', 'o', 'r', 'd']

In [183]:
mylist = [num for num in range(0,11)]

In [184]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [187]:
mylist = [num**2 for num in range(0,11)]

In [188]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [193]:
mylist = [x for x in range(0,11) if x%2==0]

In [194]:
mylist

[0, 2, 4, 6, 8, 10]

In [196]:
celcius = [0,10,20,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [197]:
fahrenheit

[32.0, 50.0, 68.0, 68.0, 94.1]

In [201]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [202]:
fahrenheit

[32.0, 50.0, 68.0, 68.0, 94.1]

In [203]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [204]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [207]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [208]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [209]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [210]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]